[submodule "backend/contracts/lib/forge-std"]
	path = backend/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "EVMescrow/lib/openzeppelin-contracts"]
	path = EVMescrow/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "EVMescrow/lib/forge-std"]
	path = EVMescrow/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
